.titolo1{
  color:red;
  text-align:center;
  font-size:50px;
  font-style:normal;
}
.titolo2{
  color:black;
  text-align:center;
  font-size:20px;
  font-style:italic;
}
.titolo3{
  color:black;
}
